{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-White text-White rounded">
      <h1><b>ประวัติการศึกษา</b></h1>
    <div class="container mt-3 ">
      <table class="table table-bordered text-light">
        <thead>
          <tr>
              <th>จบชั้น</th>
              <th>โรงเรียน</th>
            <th>ปีจบ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>จบชั้นประถมศึกษาปีที่ 6 </td>
            <td>โรงเรียนไพโรจวิชาลัย</td>
              <td>2013</td>
          </tr>
          <tr>
            <td>จบชั้นมัธยมศึกษาปีที่ 3</td>
            <td>โรงเรียนร้อยเอ็ดวิทยาลัย</td>
              <td>2016</td>
          </tr>
          <tr>
            <td>ประกาศนียบัตรวิชาชีพ</td>
            <td>วิทยาลัยเทคนิคร้อยเอ็ด</td>
              <td>2019</td>
          </tr>
        <tr>
            <td>ประกาศนียบัตรวิชาชีพชั้นสุง</td>
            <td>วิทยาลัยเทคนิคร้อยเอ็ด</td>
            <td>2022</td>
          </tr>
        <tr>
            <td>กำลังศึกษาที่ปริญญาตรี</td>
            <td>เทคโนโลยีราชมงคลขอนแก่น</td>
            <td>กำลังศึกษา</td>
          </tr>
        </tbody>
      </table>
</div>
    </div>
    <br>

    <br>
    <br>
{% endblock %}