{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-White text-White rounded">
      <h1><b>ประวิติส่วนตัว</b></h1>
      <div class="row">
          <div class="col-lg-4">
              <img src="{% static 'image/2.jpg' %}"
                   width="380px" height="380px">

          </div>
          <br>
          <div class="col-lg-12 text-light"><h5>
              ชื่อ:นาย ชนาธิป เกตโล<br>
              ชื่อเล่น: เฟิร์ส<br>
              วันเดือนปีเกิด: 15 กุมภาพันธ์ พ.ศ.2545<br>
              อายุ: 21 <br>
              ที่อยู่: 70 หมู่ 11 บ้านหัวงัว ตำบลจังหาร อำเภอจังหาร จังหวัดร้อยเอ็ด รหัสไปรษณีย์ 45000 <br>
              กำลังศึกษาอยู่ที่: 150 ถนนศรีจันทร์ ตำบลในเมือง อำเภอเมืองขอนแก่น จังหวัดขอนแก่น รหัสไปรษณีย์ 40000 <br>
              เบอร์โทรศัพท์: 092-456-1464<br>
              Gmail: tl781260@gmail.com<br>
              FaceBook: Chanathip Ketlo<br>
              LINE: 092-456-1464<br>
              IG: first_.99<br>
              Twitter: FIRST_4402<br>
              </h5>
          </div>
      </div>
    </div>
    <br>

    <br>
    <br>
{% endblock %}