{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
<div class="container mt-3 text-light">
  <img src="{% static 'image/N.jpg' %}" class="mx-auto d-block" style="width:20%">
  <h2>ไอแซก นิวตัน (Isaac Newton) </h2>
  <p>นักวิทยาศาสตร์ผู้ยิ่งใหญ่ ผู้ค้นพบกฎของแรงโน้มถ่วง และกฎการเคลื่อนที่ 3 ข้อ ที่เป็นรากฐานของวิทยาศาสตร์และเทคโนโลยีในปัจจุบัน
<b>เกร็ดความรู้</b>
แนวคิดเกี่ยวกับ แรงโน้มถ่วงและกฎการเคลื่อนที่ของนิวตันสามารถอธิบายปรากฏการณ์ต่าง ๆ อย่างการโคจรของดาวเคราะห์รอบดวงอาทิตย์ การโคจรของดวงจันทร์ และ น้ำขึ้นน้ำลง
การออกแบบอาคารบ้านเรือนและสถาปัตยกรรมต่าง ๆ รวมทั้ง เทคโนโลยีที่เกี่ยวกับเครื่องกลในปัจจุบันล้วนอาศัยแนวคิดเกี่ยวกับแรงโน้มถ่วงและกฎการเคลื่อนที่ของนิวตัน
นิวตันเป็นผู้ประดิษฐ์กล้องโทรทรรศน์แบบสะท้อนแสงเป็นคนแรก ซึ่งได้เป็นต้นแบบให้กับกล้องโทรทรรศน์ขนาดใหญ่รุ่นใหม่ ๆ ในสถาบันวิจัยด้านดาราศาสตร์หลักของโลกในในปัจจุบัน
นิวตันเป็นนักวิทยาศาสตร์คนแรกที่คนพบว่า แสงขาวจากดวงอาทิตย์ประกอบด้วยแสงสีต่าง ๆ หลากหลายสี และได้พัฒนาทฤษฎีเกี่ยวกับสีเป็นคนแรก
นิวตันได้คิดค้นแคลคูลัส ซึ่งเป็นสาขาทางคณิตศาสตร์สาขาหนึ่ง ที่เป็นพื้นฐานทางสถิติและวิศวกรรมศาสตร์สาขาต่าง ๆ มาจนกระทั่งปัจจุบัน</p>

</div>
    <br><br>

{% endblock %}